@charset "utf-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, textarea {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    /*font-family:microsoft yahei,verdana,Tahoma*/
}

ol, ul, li {
    list-style: none;
    line-height: 22px
}

ol, ul {
    zoom: 1
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}

img {
    border: 0;
}

a, a:link, a:visited {
    cursor: pointer;
    text-decoration: none
}

a:hover {
    cursor: pointer
}

.table {
    border-collapse: collapse;
    border-spacing: 0
}


.table td {
    border: solid 1px #666
}

.clear {
    clear: both;
    float: none;
    overflow: hidden;
    height: 0;
    font-size: 0
}

.clearFix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    content: "."
}

.clearFix {
    zoom: 1
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.font {
    font: 14px/24px "Comic Sans MS"
}

:focus {
    outline: 0
}

.css3pie {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(css3pie/PIE.htc)
}

body {
    font-size: 14px;
    font-family: 黑体-简, 黑体, 微软雅黑, Arial, Gotham, helvetica neue, Helvetica, sans-serif;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden
}

.nav-main {
    position: fixed;
    top: 0px;
    z-index: 12;
    height: 100%;
    width: 70px;
    color: #fff;
    background: #8A111A
}

.nav-main {
    color: #fff
}

.nav-main img {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
}

.nav-box {
    position: relative;
    perspective: 200px;
    height: 100%;
    z-index: 99
}

.nav-ul li {
    display: block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.nav-ul li :before {
    content: '';
    position: absolute;
    left: -240px;
    top: 0;
    width: 200px;
    height: auto;
    z-index: 1;
}

.nav-ul li :hover:before {
    left: -30px
}

.nav-ul li :after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    top: 20px;
    z-index: 1
}

.nav-ul li span {
    display: block;
    margin-top: 60px;
    position: relative;
    z-index: 1
}

.nav-slide {
    position: fixed;
    left: 80px;
    top: 0;
    width: 200px;
    height: auto;
    z-index: 99;
    visibility: hidden;
    z-index: 15;
    visibility: visible;
    border-radius: 10px;
}

.nav-slide-o li {
    line-height: 50px;
    display: block;
    font-size: 14px;
    overflow: hidden;
    text-align: left;
    position: relative;
    width: 100%;
}

.nav-slide-o li :before {
    content: '';
    position: absolute;
    left: -230%;
    top: 0;
    width: 200%;
    height: 100%;
    z-index: 1;
}

.nav-slide-o li :hover:before {
    left: -60px;;
    color: #fff;
}

.nav-slide-o li span {
    position: relative;
    z-index: 120;
    display: block;
    padding: 0 20px;
}

.nav-slide-o {
    display: none
}

.nav-slide-o {
    background-color: #8A111A;
    border-radius: 10px;
}

.nav-slide-o li span:hover {
    background-color: rgba(111, 3, 0, 0.8)
}