body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td,textarea,select,button
{margin: 0; padding: 0; border: 0; outline: none;}
ul, ol{list-style: none;}
a{color: black;text-decoration: none;font-size: 16px;}
a:hover {text-decoration: underline;}
html{font-size: 14px;font-family: "Microsoft YaHei",Arial;}
.flex{display: flex;
    flex-wrap: wrap;
}
/*修改*/
.banner{
    width: 100px;
    height: 50px;
    border: 10px;
    font-size: 20px;
}
.font{
    font-size: 24px;
    padding-left: 31px;
}
.size{
    font-size: 20px;
}
.pr2{
    font-size: 20px;
}
.bb td{
    font-size: 18px;
}
.table td{
    text-align: center;
}
.table td:first-child{
    text-align: left;
}
.btngroup{
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.addto{
    width: 190px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}
.loginId{
    text-align: left;
}
.table thead th{
    font-size: 18px;
}
/*修改*/

.column{flex-direction: column;}
.justify{justify-content: space-between;}
body, html{height:auto;overflow-y: scroll;background-color: #FBFBFB;}
ul,li{margin:0;padding:0;}
body {
    overflow-x : hidden;
    overflow-y : hidden;
}
body{width: 100%;background-color:#f3f3f3;color:#959595;}
@font-face {
    font-family: 'iconfont';  /* project id 1083575 */
    src: url('http://at.alicdn.com/t/font_1083575_glzjc8rsqs5.eot');
    src: url('http://at.alicdn.com/t/font_1083575_glzjc8rsqs5.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_1083575_glzjc8rsqs5.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_1083575_glzjc8rsqs5.woff') format('woff'),
    url('http://at.alicdn.com/t/font_1083575_glzjc8rsqs5.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_1083575_glzjc8rsqs5.svg#iconfont') format('svg');
}
body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; /*使用无衬线字体*/
}
a, img {
    -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
}
html, body {
    -webkit-user-select: none; /*禁止选中文本*/
    user-select: none;
}
/* button,input,optgroup,select,textarea {
    -webkit-appearance:none; /*去掉webkit默认的表单样式*/
/* }  */
a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0); /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
}
input::-webkit-input-placeholder {
    color:#C0C0C0; /*修改webkit中input的planceholder样式*/
}
input::-ms-input-placeholder {
    color:#C0C0C0; /*修改webkit中input的planceholder样式*/
}
input::-o-input-placeholder {
    color:#C0C0C0; /*修改webkit中input的planceholder样式*/
}
input::-moz-input-placeholder {
    color:#C0C0C0; /*修改webkit中input的planceholder样式*/
}
input:focus::-webkit-input-placeholder {
    color:#f00; /*修改webkit中focus状态下input的planceholder样式*/
}
input:hover{border:1px solid #FF5456;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
a,input,button,textarea{outline: none!important;}
/*
 body {
    -webkit-text-size-adjust: 100%!important; /*禁止IOS调整字体大小*/
/* }  */


input::-webkit-input-speech-button {
    display: none; /*隐藏Android的语音输入按钮*/
}
*{margin:0;padding: 0;}
.imgBoder{background-color:#F2F2F2;width: 40px;height:40px;position: relative;float: left;}
.imgBoder img{width: 20px;height: 20px;position: absolute;left: 0;right: 0;bottom: 0;top: 0;margin:auto;}
.w50{width: 50%;}
/*.isEdit{display: none;}*/
/*.isDelete{display: none;}*/
.nv{width: 525px;height:167px;left: 0;right:0;top:0;bottom: 0;margin:auto;border:1px solid #EBEBEB;background-color: #fff;position: absolute;display: none;z-index: 9999;border-radius: 10px;}
.nv91-close,.nv92-close{font-size: 24px;position: absolute;right: 5px;top: 0;bottom:0;margin:auto;color:#999999;}
.w100{width: 100%;}
.w100_{width: 100px;}