body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td,textarea,select,button
{margin: 0; padding: 0; border: 0; outline: none;}
ul, ol{list-style: none;}
a{color: black;text-decoration: none;font-size: 16px;}
a:hover {text-decoration: underline;}
html{font-size: 14px;font-family: "Microsoft YaHei",Arial;}
.flex{display: flex;
    flex-wrap: wrap;
}
/*修改*/
.banner{
    width: 100px;
    height: 50px;
    border: 10px;
    font-size: 20px;
}
.font{
    font-size: 24px;
    padding-left: 31px;
}
.size{
    font-size: 20px;
}
.pr2{
    font-size: 20px;
}
.bb td{
    font-size: 18px;
}
.table td{
    text-align: center;
}
/* .table td:first-child{
    text-align: left;
    padding-left: 30px;
    
} */
.btngroup{
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.addto{
    width: 190px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}
.loginId{
    text-align: left;
}
.table thead th{
    font-size: 18px;
}
/*修改*/

.column{flex-direction: column;}
.justify{justify-content: space-between;}
body, html{height:auto;overflow-y: scroll;background-color: #FBFBFB;}
ul,li{margin:0;padding:0;}
body {
    overflow-x : hidden;
    overflow-y : hidden;
}
body{width: 100%;background-color:#f3f3f3;color:#959595;}
@font-face {
    font-family: 'iconfont';  /* project id 1083575 */
    src: url('http://at.alicdn.com/t/font_1083575_glzjc8rsqs5.eot');
    src: url('http://at.alicdn.com/t/font_1083575_glzjc8rsqs5.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_1083575_glzjc8rsqs5.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_1083575_glzjc8rsqs5.woff') format('woff'),
    url('http://at.alicdn.com/t/font_1083575_glzjc8rsqs5.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_1083575_glzjc8rsqs5.svg#iconfont') format('svg');
}
body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; /*使用无衬线字体*/
}
a, img {
    -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
}
html, body {
    -webkit-user-select: none; /*禁止选中文本*/
    user-select: none;
}
/* button,input,optgroup,select,textarea {
    -webkit-appearance:none; /*去掉webkit默认的表单样式*/
/* }  */
a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0); /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
}


/* input:hover{border:1px solid #48a4ea;} */
a{text-decoration: none;}
a:hover{text-decoration: none;}
a,input,button,textarea{outline: none!important;}
/*
 body {
    -webkit-text-size-adjust: 100%!important; /*禁止IOS调整字体大小*/
/* }  */


input::-webkit-input-speech-button {
    display: none; /*隐藏Android的语音输入按钮*/
}
*{margin:0;padding: 0;}
.imgBoder{background-color:#F2F2F2;width: 40px;height:40px;position: relative;float: left;}
.imgBoder img{width: 20px;height: 20px;position: absolute;left: 0;right: 0;bottom: 0;top: 0;margin:auto;}
.w50{width: 50%;}
/*.isEdit{display: none;}*/
/*.isDelete{display: none;}*/
.nv,.nv1{width: 525px;height:167px;left: 0;right:0;top:0;bottom: 0;margin:auto;border:1px solid #EBEBEB;background-color: #fff;position: absolute;display: none;z-index: 9999;border-radius: 10px;}

.w100{width: 100%;}
.w100_{width: 100px;}

    .switch {
            width: 57px;
            height: 28px;
            position: relative;
            border: 1px solid #dfdfdf;
            background-color: #cccccc;
            box-shadow: #dfdfdf 0 0 0 0 inset;
            border-radius: 20px;
            background-clip: content-box;
            display: inline-block;
            -webkit-appearance: none;
            user-select: none;
            outline: none;
        }
        .switch:before {
            content: '';
            width: 26px;
            height: 26px;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20px;
            background-color: #fff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        }
        .switch:checked {
            border-color: #36404c;
            box-shadow: #36404c 0 0 0 16px inset;
            background-color: #36404c;
        }
        .switch:checked:before {
            left: 30px;
        }
        .switch.switch-anim {
            transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
        }
        .switch.switch-anim:before {
            transition: left 0.3s;
        }
        .switch.switch-anim:checked {
            box-shadow: #36404c 0 0 0 16px inset;
            background-color: #36404c;
            transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
        }
        .switch.switch-anim:checked:before {
            transition: left 0.3s;
        }
        /* //去除滚动条  */
 /* body::-webkit-scrollbar{scroll-behavior: auto;height: 100%;}
 body::-o-scrollbar{display: none!important;-moz-appearance:none !important; }
 body::-ms-scrollbar{display: none;}
 body::-moz-scrollbar{display: none;}
 iframe::-webkit-scrollbar{scroll-behavior:auto} */

.imgHover2{width: 80px;height: 80px;overflow: hidden;}
.confirm,.confirm1 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin:auto;
     /* border: 1px solid red; */
     width: 420px;
     height: 220px;
     background-color: #ffffff;
     display: none;
 }
.confirm1{ width: 250px; height:130px;}
 button {
     outline: none;
 }
 .boxTotal{height: 120px;width: 100%;text-align: center;}
 .boxImg{position: absolute;margin-top: 42px;left: 60px;}
 .boxDelete{display: inline-block; margin-top: 50px;margin-left: 70px;}
 .roleRefu{width: 60px;height: 40px;border:1px solid #8d8d8d; background-color: #fff;color: #0f0f0f;border-radius: 10%}
 .roleSur{width: 60px;height: 40px; margin-left: 20px;border:1px solid #FF2F2F; background-color: #FF2F2F;color: #fff;border-radius: 10%;}
 .dele{height: 40px;width: 100%;display: flex;justify-content:flex-end; margin-top:15px;box-sizing: border-box;padding-right: 30px;}
 .nv1,.nv3{height: 130px;width: 250px;position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin:auto;background-color: #ffffff;display: none;}
 .success1{position: absolute;margin-top: 47px;margin-left: 60px;width: 30px;height: 30px;}
 .referMes{display: inline-block; margin-left: 105px;margin-top: 50px;color: rgba(255,84,86,1);}
/* //企业认证图片展示i */
.licencePath{width: 151px;height: 210px;overflow: hidden;}
/* //日历插件开始 */



*{margin:0;padding:0;list-style:none;}
html{background-color:#E3E3E3; font-size:14px; color:#000; font-family:'微软雅黑'}
h2{line-height:30px; font-size:20px;}
a,a:hover{ text-decoration:none;}
pre{font-family:'微软雅黑'}
.box{width:970px; padding:10px 20px; background-color:#fff;}
.box a{padding-right:20px;}
.demo1,.demo2,.demo3,.demo4,.demo5,.demo6{margin:25px 0;}
h3{margin:10px 0;}
.layinput{height: 22px;line-height: 22px;width: 150px;margin: 0;}

/* 日历插件结束 */
input[type='radio'],input[type='checkbox']{outline:none!important;}
/* //定义所有表格高度 */
.table th, .table td {
    vertical-align: middle;
    height: 80px;
}
.radio.radio-inline {
    margin-top: 0px!important;
}
label{margin-bottom: 0!important;}
iframe html div{overflow:auto!important;}
/* //左侧菜单栏样式 */
.activeCol{background: rgba(40, 49, 59, 0.8);}
/* //底部页码样式 */
.totelPag{color:#929292;font-size: 18px;padding-left: 20px;line-height: 3;color:#5A5A5A;}
.f24{font-size: 24px!important;}
.btn{color: #0f0f0f;}
.totalPage:hover{background: none!important;}
/* //body定位属性 */
.fixed2{position: fixed;width: 100%;height: 100%;top: 0;left: 0;overflow: hidden;}
/* //改变input颜色 */
/* WebKit browsers */
input::-webkit-input-placeholder {color: #495057;font-size: 14px;}
    /* Mozilla Firefox 4 to 18 */
    input:-moz-placeholder { color: #495057;opacity: 1;font-size: 14px;}
    /* Mozilla Firefox 19+ */
    input::-moz-placeholder { color: #495057;opacity: 1;font-size: 14px;}
    /* Internet Explorer 10+ */
    input:-ms-input-placeholder {color: #495057;font-size: 14px;}
    input:focus::-webkit-input-placeholder{color:#495057;}
    /* Mozilla Firefox 4 to 18 */
    input:focus:-moz-placeholder { color: #495057;opacity: 1;font-size: 14px;}
    /* Mozilla Firefox 19+ */
    input:focus::-moz-placeholder { color: #495057;opacity: 1;font-size: 14px;}
    /* Internet Explorer 10+ */
    input:focus:-ms-input-placeholder {color: #495057;font-size: 14px;}
    /* 去除IE下input框后面的X */
    input::-ms-clear, input::-ms-reveal{
        display: none;
    }